/*
Theme Name: Shopkeeper Child
Theme URI: http://shopkeeper.getbowtied.com/
Description: This is a child theme for Shopkeeper.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: shopkeeper
Version: 1.0
*/

/****************************************************************/
/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/
/****************************************************************/

.glami-wrapper {
  text-align: center;
  margin-bottom: 34px;
}

.p-0 {
  padding: 0;
}

.woman-shoes {
  background-position: 0 -280px !important;
}

@media only screen and (max-width: 1440px) {
  .woman-shoes {
    background-position: 0 -180px !important;
  }

  .man-clothes {
    background-position: -180px 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .woman-shoes {
    background-position: 0 -70px !important;
  }

  .man-clothes {
    background-position: -300px 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .woman-shoes {
    background-position: 0 -100px !important;
  }

  .man-clothes {
    background-position: -75px 0 !important;
  }
}

@media only screen and (max-width: 414px) {
  .woman-shoes {
    background-position: 0 -90px !important;
  }
}

@media only screen and (max-width: 375px) {
  .woman-shoes {
    background-position: 0 -60px !important;
  }
}

@media only screen and (max-width: 320px) {
  .woman-shoes {
    background-position: bottom !important;
  }
}

@media screen and (min-width: 64.0625em) {
  .product_layout_classic .product-images-wrapper .woocommerce-product-gallery {
    display: block;
  }
  .product_layout_classic
    .product-images-wrapper
    .woocommerce-product-gallery
    .flex-viewport {
    width: auto !important;
  }
  .product_layout_classic
    .product-images-wrapper
    .woocommerce-product-gallery
    .flex-viewport
    img,
  .product_layout_classic
    .product-images-wrapper
    .woocommerce-product-gallery
    .flex-viewport
    a.video
    iframe {
    padding-left: 0;
  }
  .product_layout_classic
    .product-images-wrapper
    .woocommerce-product-gallery
    ol.flex-control-thumbs {
    max-height: 488px;
    padding: 0 !important;
    width: auto !important;
  }
  .product_layout_classic
    .product-images-wrapper
    .woocommerce-product-gallery
    ol.flex-control-thumbs
    li {
    width: 25% !important;
    padding: 0;
  }
  .product_layout_classic
    .product-images-wrapper
    .woocommerce-product-gallery
    .flex-viewport {
    margin-left: 0;
  }
}

@media screen and (max-width: 769px) {
  .flex-control-nav.flex-control-thumbs {
    display: none;
  }
}

/****************************************************************/
/****************************************************************/
/****************************************************************/
